pydub>=0.25.1
AudioSegment>=0.22.1
whisper>=1.1.0
transformers
sentencepiece 
tqdm
webvtt-py
python-touch>=0.1
touch
ffmpeg-python==0.2.0
pytubefix>=9.1.1

numpy
matplotlib
# download fb
youtube-dl==2021.12.17

# for testing
behave==1.2.6
requests>=2.24.1
pytest>=8.4.0
pytest-mock>=3.14.1